fastapi
uvicorn
fastapi[standard]
google-cloud-firestore==2.19.0
python-dotenv==1.0.0
langchain
langchain-openai==0.2.14
langchain-community
langchain-core
nltk
requests
beautifulsoup4
langgraph
urllib3
firebase-admin>=6.4.0
psutil
openai==1.58.1
stripe==7.14.0
langserve
google-cloud-secret-manager
aiohttp==3.9.3
langchain-google-vertexai