fastapi
uvicorn
fastapi[standard]
google-cloud-firestore==2.19.0
python-dotenv==1.0.0
langchain
langchain-openai
langchain-community
langchain-core
nltk
requests
beautifulsoup4
langgraph
tavily-python
urllib3
firebase-admin>=6.4.0
psutil
openai==1.58.1